body{
    padding: 0px;
    font-size: large;
    margin-bottom: 20%;
    font-family: 'Amatic SC', cursive;
    box-sizing: border-box;
    font-size: 10px;
    background-image: url("https://ak6.picdn.net/shutterstock/videos/12110576/thumb/1.jpg");
    background-size: cover;

}
.coffee-overlay {
    /*background-color: rgba(0,0,0,0.5);*/
    /*position: fixed;*/
    /*height: 100%;*/
    /*width: 100%;*/
}
h1 {
    text-align: center;
    font-size: 10rem;
    line-height: 1;
    margin-bottom: 0;
}
h2 {
    /*padding-left: 100px;*/
    /*padding-right: 15px;*/
    text-align: center;
    font-size: xx-large;
    margin-bottom: 50px;
}
#log{
    /*style for the block that asks for weight and drink*/
    margin-top: 10%;
    margin-left:20%;
    margin-right: 20%;
    text-align: center;
    color: white;
    display: none;
}

.hide{
    /*visibility: hidden;*/
}
#weight{
    background: #1d2c38;
    color: white;
    border: 1px solid #15282b;
    width: 50px;
    margin-right: 10px;

}

button {
    border: none;
    /*margin-left: 5px;*/
    padding: 10px 15px;
    display: block;
    font-size: 16px;
    border-radius: 4px;
    background: #000000;
    color: #f4fffd;
    margin:10% auto;
}
option {
    background: lightseagreen;
}

.drink-list{

}
.drink-list select {
    background: #1d2c38;
    color: white;
    font-family: "Amatic SC";
    font-size: 16px;
}


.drop-drink-btn:hover, .dropbtn:focus {
    background-color: #1d2c38;
}
.reset  {
    display: block;
    margin-left: 50%;
    position: center;
    background: #75c29a;color: #f4fffd;
}
.submit {
    /*position: center;*/

    background: #e02b27;color: #f4fffd;
}
.no{
    /*position: relative;*/
    background: #e02b27;color: #f4fffd;
}
.yes{
    /*position: relative;*/
    margin-left: 15px;
    background: #1bc245;color: #f4fffd;
}
#nope{
    position: center;
}



result {
    position: center;
    margin-left: 50%;
}

.footer{
    position: fixed;

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}

