html{
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52),
rgba(31, 18, 9, 0.93)),
url("https://ak6.picdn.net/shutterstock/videos/12110576/thumb/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Amatic SC', cursive;
    min-height: 100vh;
    height: 100%;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 10rem;
    /*line-height: 1;*/
    margin-bottom: 0;
}
#calculateC{
    /*style for the block that asks for weight and drink*/
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 28px;
    height: 50%;
    margin-top: 5%;
    text-align: center;
    visibility: hidden;
    /*display: block;*/

}

.hide{
    /*visibility: hidden;*/
}
#weight{
    background: #38240f;
    border: 1px solid #38240f;
    box-sizing: border-box;
    color: white;
    margin-right: 10px;
    width: 10vh;

}

button {
    background: #000000;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #f4fffd;
    display: block;
    font-size: 16px;
    margin-left: 47%;
    padding: 10px 15px;
}
option {
    background: chocolate;
}


.drink-list select {
    background: #38240f;
    box-sizing: border-box;
    color: white;
    font-family: "Amatic SC";
    font-size: 16px;
}

#limit{
    margin-left: 42%;
    margin-top: 5%;
    visibility: visible;
}


#submit {
    /*position: center;*/
    background: #12807d;
    color: #f4fffd;
    margin-top: 1%;
}




#result {
    /*padding: 100px;*/
    box-sizing: border-box;
    color: white;

    font-size: 28px;
    height: 49%;
    margin-top: 6%;
    text-align: center;
    visibility: hidden;
}
#resultP{
    margin:1px;
    /*padding: 1px;*/
}
.highlight{
    background-color: #38240f;
}

.footer{
    /*position: absolute;*/
    background-color: black;
    bottom: 0;
    color: white;
    font-size: 22px;
    left: 0;
    margin-top: 40px;
    /*margin-bottom: 10%;*/
    text-align: center;
    width: 100%;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    body{
        background-size: auto 100%;
        background-position: left top;
        background-image: linear-gradient(to bottom, rgba(36, 36, 36, 0.24), black),
        url("https://render.fineartamerica.com/images/rendered/default/poster/8/10/break/images-medium/organic-coffee-beans-bjorn-holland.jpg");

    }
    .coffee-container{
        /*margin-bottom: 45%;*/
        margin-bottom: 35%;/* works for pixel*/
    }
    #calculateC{
        height: fit-content;
        margin-top: 20%;
        margin-bottom: 40%;
        font-size: 75px;
    }
    #choices{
        font-size: 70px;
    }
    #result{
        font-size: 75px;
    }
    #submit{
        font-size: 65px;
    }
    #weight{
        font-size:70px;
    }
    h1{
        color:white;
    }
    #footer{
        position: absolute;
        font-size: 200%;
    }

}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {
    body{
        background-size: auto 100%;
        background-position: left top;
        background-image: linear-gradient(to bottom, rgba(36, 36, 36, 0.24), black),
        url("https://render.fineartamerica.com/images/rendered/default/poster/8/10/break/images-medium/organic-coffee-beans-bjorn-holland.jpg");

    }
}

